.keyGroup {
  background-color: #ffff;
  margin: 0;
  padding: 0;
  width: auto;
  height: 64px;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 32px;
  border-radius: 12px;
  grid-column: auto;
}

.keysWrapper {
  max-width: 101px;
  min-width: 60px;
  height: 100%;
  background-color: var(--color-secondaryKeyBackground);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-keyBoardText);
  box-shadow: inset 0px -4px 0px 0 var(--color-secondaryKeyBackShadow);
  cursor: pointer;
}

.keysWrapper:hover {
  opacity: 0.5;
}

.key1equals {
  grid-column: span 2;
  color: var(--color-equalText);
}
.key1reset {
  color: var(--color-primaryText);
  grid-column: span 2;
}

.keyequals {
  max-width: 227px;
  min-width: 133px;
  background-color: var(--color-equalKeyBackground);
  color: var(--color-equalText);
  box-shadow: inset 0px -4px 0px 0 var(--color-equalKeyBackgroundShadow);
}

.keyGroup > .keyequals:hover {
  opacity: 0.7;
}

.keyreset {
  max-width: 227px;
  min-width: 133px;
  background-color: var(--color-keyBackground);
  color: var(--color-primaryText);
  box-shadow: inset 0px -4px 0px 0 var(--color-keyShadow);
  letter-spacing: 0.33px;
  font-size: 28px;
}

.keyreset:hover {
  opacity: 0.7;
}

.keydelete {
  background-color: var(--color-keyBackground);
  color: var(--color-primaryText);
  box-shadow: inset 0px -4px 0px 0 var(--color-keyShadow);
  letter-spacing: 0.33px;
  font-size: 28px;
}

.keydelete:hover {
  opacity: 0.7;
}

@media (max-width: 640px) {
  .keysWrapper {
    font-size: 22px;
  }
  .keyreset {
    font-size: 18px;
  }

  .keydelete {
    font-size: 18px;
  }
}
