.calculator {
  min-width: 540px;
  max-width: 540px;

  height: 708px;
  margin: auto 24px auto 24px;
}

@media (max-width: 640px) {
  .calculator {
    max-width: 540px;
    min-width: 327px;
  }
}
